<div class="relative w-screen">
  <div class="fixed top-0 z-40 left-0 w-full">
    <nav
      class="w-full bg-dark/70 backdrop-blur-md flex justify-between items-center p-2"
    >
      <a href="/cacha/inicio" class="mx-2 text-xl">Cacha</a>
      <ul class="flex gap-1 items-center">
        <li>
          <a class="px-2" href="/cacha/catalogo">Catalogo</a>
        </li>
        <li>
          <a class="px-2" href="/cacha/catalogo">Contacto</a>
        </li>
        <li>
          <app-theme-toggle-btn variant="ghost" />
        </li>
      </ul>
    </nav>
  </div>
</div>
