<section class="mt-24 max-w-7xl mx-auto flex flex-col gap-8">
  <div class="flex flex-col relative w-fit">
    <h2 class="text-4xl z-10">Services</h2>
    <div class="bg-jsp-green p-0.5 rounded"></div>
  </div>
  <div class="flex flex-wrap gap-4">
    <div class="p-4 border border-border rounded-xl relative shrink grow  basis-1">
      <div
        class="absolute p-1 h-[75%] rounded-l-xl bg-jsp-green my-auto -left-2 z-0"
      ></div>
      <h3 class="font-semibold text-2xl">Servicio de prueba</h3>
      <span class="text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro nulla
        quasi id dolor eligendi quia unde nostrum quam consequatur? Quasi
        blanditiis nihil culpa.
      </span>
    </div>

    <div class="p-4 border border-border rounded-xl relative shrink grow  basis-1">
      <div
        class="absolute p-1 h-[75%] rounded-l-xl bg-jsp-green my-auto -left-2 z-0"
      ></div>
      <h3 class="font-semibold text-2xl">Servicio de prueba</h3>
      <span class="text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro nulla
        quasi id dolor eligendi quia unde nostrum quam consequatur? Quasi
        blanditiis nihil culpa.
      </span>
    </div>

    <div class="p-4 border border-border rounded-xl relative shrink grow  basis-1">
      <div
        class="absolute p-1 h-[75%] rounded-l-xl bg-jsp-green my-auto -left-2 z-0"
      ></div>
      <h3 class="font-semibold text-2xl">Servicio de prueba</h3>
      <span class="text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro nulla
        quasi id dolor eligendi quia unde nostrum quam consequatur? Quasi
        blanditiis nihil culpa.
      </span>
    </div>

    <div class="p-4 border border-border rounded-xl relative shrink grow  basis-1">
      <div
        class="absolute p-1 h-[75%] rounded-l-xl bg-jsp-green my-auto -left-2 z-0"
      ></div>
      <h3 class="font-semibold text-2xl">Servicio de prueba</h3>
      <span class="text-muted">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro nulla
        quasi id dolor eligendi quia unde nostrum quam consequatur? Quasi
        blanditiis nihil culpa.
      </span>
    </div>
  </div>
</section>
