<div class="p-1 flex flex-col overflow-hidden max-w-sm relative">
  <div
    class="flex flex-col gap-1 mb-2 rounded-xl overflow-scroll max-h-96 relative"
  >
    @for (prod of prods; track $index) {
      <div class="p-3 bg-neutral rounded-xl flex items-center">
        <span class="grow">
          {{ prod.name }}
        </span>
        <app-counter [minValue]="0" />
      </div>
    }
  </div>
  <div class="overflow-x-scroll">
    <prt-radio [options]="options" containerClasses="flex-no-wrap gap-1" />
  </div>
  <div class="fixed bottom-4 right-4">
    <prt-button label="Comanda" classList="p-4 text-xl" />
  </div>
</div>
