<div class="h-screen w-full bg-neutral flex flex-col items-center">
  <div class="max-w-7xl w-full flex flex-col gap-2 p-4">
    <div
      class="relative border p-2 border-border rounded-xl w-full bg-dark"
    >
      <a href="/cacha" class="top-0 left-0 w-full h-full absolute"></a>
      <div class="flex items-center w-full justify-between">
        <strong>Proyecto Cacha</strong>
        <i class="material-symbols-rounded">open_in_new</i>
      </div>
      <span> Mobile first, usar supabase </span>
    </div>
    <div
      class="relative border p-2 border-border rounded-xl bg-dark"
    >
      <a href="/salon" class="top-0 left-0 w-full h-full absolute"></a>
      <div class="flex items-center w-full justify-between">
        <strong>Proyecto Salon</strong>
        <i class="material-symbols-rounded">open_in_new</i>
      </div>
      <span>Probar websockets el jueves</span>
    </div>
    <div
      class="relative border p-2 border-border rounded-xl bg-dark"
    >
      <a href="/docs" class="top-0 left-0 w-full h-full absolute"></a>
      <div class="flex items-center w-full justify-between">
        <strong>Documentacion</strong>
        <i class="material-symbols-rounded">open_in_new</i>
      </div>
      <span>Incompleto</span>
    </div>
  </div>
</div>
