<div class="p-3 bg-dark h-screen flex flex-col gap-3">
  <div class="flex gap-3">
    <prt-button [label]="'Information'" [icon]="'info'" variant="default" />
    <prt-button [label]="'Information'" [icon]="'info'" variant="secondary" />
    <prt-button [label]="'Information'" [icon]="'info'" variant="outlined" />
    <prt-button [label]="'Information'" [icon]="'info'" variant="ghost" />
    <prt-button [label]="'Delete'" [icon]="'delete'" variant="destructive" />
  </div>
  <app-theme-toggle-btn />
  <prt-button [label]="'Open dialog'" (btnClick)="openDialogTest()" />
  <div class="flex gap-3">
    <prt-button
      [label]="'Default toast'"
      [variant]="'secondary'"
      (btnClick)="tryToast('default')"
    />
    <prt-button
      [label]="'Succes toast'"
      [variant]="'secondary'"
      (btnClick)="tryToast('succes')"
    />
    <prt-button
      [label]="'Error toast'"
      [variant]="'secondary'"
      (btnClick)="tryToast('error')"
    />
    <prt-button
      [label]="'Warning toast'"
      [variant]="'secondary'"
      (btnClick)="tryToast('warning')"
    />
  </div>
  <app-card-container>
    <div class="max-w-xl">
      <app-card-header>
        <h2 class="text-xl font-bold">Card header</h2>
      </app-card-header>
      <app-card-body>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta
        tenetur nihil. Aspernatur laudantium error quas cum debitis, voluptates
        totam delectus animi fuga, rerum provident, officiis odit numquam
        adipisci inventore!
      </app-card-body>
      <app-card-footer> contacot al wasdqwdq&#64;mail.com </app-card-footer>
    </div>
  </app-card-container>
  <app-btn-group [buttons]="buttonGroup" />
</div>
<app-dialog-container />
<app-toast-list />
