<div class="flex flex-col gap-2 mx-auto w-fit p-2">
  <div class="flex gap-2 items-center w-full justify-between">
    <span>Correo: cachaarte&#64;mail.com</span>
    <prt-button icon="content_copy" variant="secondary" />
  </div>
  <div class="flex gap-2 items-center w-full justify-between">
    <span>Instagram: cachaarte&#64;mail.com</span>
    <prt-button icon="content_copy" variant="secondary" />
  </div>
  <div class="flex gap-2 items-center w-full justify-between">
    <span>WhatsApp: +54 11 123-234</span>
    <prt-button icon="content_copy" variant="secondary" />
  </div>
</div>
