<div class="flex flex-col gap-4 mx-auto w-fit p-6">
  <div class="flex gap-4 items-center w-full justify-between">
    <a href="#">Correo: <strong>cachaarte&#64;mail.com</strong></a>
    <app-copy-button textToCopy="Prueba" icon="content_copy" iconAfterCopy="check" />
  </div>
  <div class="flex gap-4 items-center w-full justify-between">
    <a href="#">Instagram: <strong>&#64;cachaarte62</strong></a>
    <app-copy-button textToCopy="Prueba" icon="content_copy" iconAfterCopy="check" />
  </div>
  <div class="flex gap-4 items-center w-full justify-between">
    <a href="#" onclick="test()">WhatsApp: <strong>+54 11 123-234</strong></a>
    <app-copy-button textToCopy="Prueba" icon="content_copy" iconAfterCopy="check"/>
  </div>
</div>
