@if (visible) {
  <div
    class="fixed z-50 bg-dark border border-border p-1 rounded-2xl shadow-xl min-w-40 flex flex-col gap-1"
    [style.top.px]="y"
    [style.left.px]="x"
  >
    <prt-button
      classList="w-full justify-start"
      label="Agua con gas"
      variant="ghost"
      icon="add"
    />
    <prt-button
      classList="w-full justify-start"
      label="Agua sin gas"
      variant="ghost"
      icon="add"
    />
    <prt-button
      classList="w-full justify-start"
      label="Copa de malbec"
      variant="ghost"
      icon="add"
    />
    <hr class="border-border my-1" />
    <prt-button
      classList="w-full justify-start"
      label="Comentar"
      variant="ghost"
      icon="edit"
    />
    <prt-button
      classList="w-full justify-start"
      label="Cerrar Mesa"
      variant="default"
      icon="attach_money"
    />
  </div>
}
