<div class="p-2 relative">
  <section>
    <header class="flex flex-col gap-3 py-24 bg-neutral rounded-2xl">
      <div class="flex gap-2 items-center mx-auto w-full max-w-72">
        <img
          class="h-18 rounded-full"
          src="https://i.pinimg.com/736x/39/a6/f0/39a6f0fe8b9614845bc991adad7717ad.jpg"
          alt=""
        />
        <div class="grow flex flex-col">
          <h1 class="text-2xl">Cesar Apellido</h1>
          <span class="text-muted">Artista plastico</span>
        </div>
      </div>
      <span class="max-w-72 mx-auto">
        Me dedico a hacer arte para hacer pensar a la gente. Si estas interesado
        en comprar mi arte te invito a mirar mi catalogo.
      </span>
      <div class="flex gap-2 justify-center">
        <a href="/cacha/catalogo" class="flex gap-2"></a>
      </div>
    </header>
  </section>

  <section>
    <div
      class="relative my-2 flex flex-col-reverse rounded-2xl h-96 overflow-hidden bg-[url(https://i.pinimg.com/736x/b4/34/c6/b434c63a8b21b781859cc3c371db42b3.jpg)] bg-no-repeat bg-cover bg-top"
    >
      <div class="px-4 pb-4 pt-16 relative">
        <div
          class="absolute h-full w-full top-0 left-0 z-10 bg-neutral/50"
          style="
            mask-image: linear-gradient(0, #000 70%, #0000);
            backdrop-filter: blur(5px);
          "
        ></div>
        <div class="relative z-10">
          <h3 class="font-bold text-xl">Catalogo de macetas</h3>
          <span>Elige el diseño las medidas y encargamelo.</span>
        </div>
      </div>
      <div
        class="h-12 w-12 absolute top-1 right-1 bg-neutral rounded-xl grid place-items-center"
      >
        <i class="material-symbols-rounded">open_in_new</i>
      </div>
      <a href="/cacha/catalogo" class="absolute top-0 left-0 w-full h-full z-20"></a>
    </div>
  </section>

  <section>
    <h2 class="text-2xl text-center mt-8 mb-4">Mis obras favoritas</h2>

    <div
      class="grid grid-cols-1 gap-2 sm:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 pb-12 md:pb-2"
    >
      @for (img of images; track $index) {
        <img
          [src]="img"
          alt=""
          class="rounded-xl cursor-pointer"
          (click)="openCarousel($index)"
        />
      }
      <div class="col-span-full">
        <app-footer />
      </div>
      <app-carrousel
        [images]="images"
        [(isActive)]="carouselActive"
        [initialIndex]="selectedImageIndex"
      />
    </div>
  </section>
</div>
