@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: oklch(98.5% 0 0);
  --color-black: oklch(14.5% 0 0);

  --color-dark: hsl(0, 0%, 100%);
  --color-neutral: hsl(0, 0%, 95%);
  --color-light: hsl(0, 0%, 90%);

  --color-border: hsl(0, 0%, 85%);
  --color-highline: hsl(0, 0%, 85%);
  --color-bottomline: hsl(0, 0%, 85%);

  --color-text: hsl(0, 0%, 10%);
  --color-muted: hsl(0, 0%, 25%);

  --color-danger: #db2828;
  --color-warning: #fbbd08;
  --color-succes: #21ba45;

  --container-7xl: 1424px
}

.dark {
  --color-dark: hsl(0, 0%, 5%);
  --color-neutral: hsl(0, 0%, 8%);
  --color-light: hsl(0, 0%, 15%);

  --color-border: hsl(0, 0%, 20%);
  --color-highline: hsl(0, 0%, 24%);
  --color-bottomline: hsl(0, 0%, 14%);

  --color-text: hsl(0, 0%, 90%);
  --color-muted: hsl(0, 0%, 75%);
}

@layer base {
  body {
    @apply text-[var(--color-text)];
  }
}

body * {
  font-family: 'poppins';
}

button {
  cursor: pointer;
}

button:focus {
}

.material-symbols-rounded {
  font-size: 22px;
}

::-webkit-scrollbar {
  display: none;
}