<div class="relative">
  <div
    class="bg-jsp-green py-4 flex items-center gap-4 justify-center w-screen mb-32"
  >
    <div
      class="w-full text-black max-w-7xl flex items-center justify-between gap-4 font-semibold"
    >
      <span> PhD Researcher & University Lecturer</span>
      <i class="material-symbols-rounded">filter_vintage</i>
      <span> AWS & Cloud Architecture</span>
      <i class="material-symbols-rounded">filter_vintage</i>
      <span> Security & IAM</span>
      <i class="material-symbols-rounded">filter_vintage</i>
      <span> AI Ops & RAG </span>
    </div>
  </div>
</div>
